<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
    <div class="container_login"></div>
        <h1>Login</h1>
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
        <form method="POST" action="{{ url_for('authentication.login') }}">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required><br>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required><br>
            <input type="submit" value="Login">
        </form>
    </div>
    <a class="btn btn-secondary" role="button" href="{{ url_for('authentication.register') }}">Registrar-se</a>
</body>
</html>

